.no-rounded {
  border-radius: 0 !important;
}

.rounded-left-corners {
  border-radius: 25px 0 0 25px;
}

.rounded-right-corners {
  border-radius: 0 25px 25px 0;
}

.my-icon {
  color: #b60000;
  transition: color 0.3s ease;
}
.my-icon:hover {
  color: #0a7365;
}
