.has-warning-border {
  outline: 2px solid #ffcc00;
  animation: blink-border 1s ease-in-out infinite;
}

@keyframes blink-border {

  0%,
  100% {
    outline-color: #ffcc00;
  }

  50% {
    outline-color: transparent;
  }
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 30px;
}

.price {
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #cart {
    overflow-x: hidden;
  }
}
