<div class="container">
  <div class="column is-4 is-offset-4">
    <h2 class="title">Register</h2>
    <div class="box">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="First Name" formControlName="firstName">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <p class="help is-danger" *ngIf="((registerForm.get('firstName')?.touched || formSubmitted) && registerForm.get('firstName')?.hasError('required'))">
            First name is required
          </p>
        </div>

        <div class="field">
          <label class="label">Last Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <p class="help is-danger" *ngIf="((registerForm.get('lastName')?.touched || formSubmitted) && registerForm.get('lastName')?.hasError('required'))">
            Last name is required
          </p>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email input" formControlName="email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger"
             *ngIf="((registerForm.get('email')?.touched || formSubmitted) && registerForm.get('email')?.hasError('required'))">
            Email is required
          </p>
          <p class="help is-danger" *ngIf="(registerForm.get('email')?.hasError('email'))">
            Email entered is invalid
          </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Password Here" formControlName="password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="help is-danger"
             *ngIf="((registerForm.get('password')?.touched || formSubmitted) && registerForm.get('password')?.hasError('required'))">
            Password is required
          </p>
          <p class="help is-danger" *ngIf="(registerForm.get('password')?.hasError('minlength'))">
            Password must be at least 8 characters
          </p>
        </div>
        <div class="field">
          <label class="label">Password Confirm</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Password Confirm Here" formControlName="passwordConfirm">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="help is-danger" *ngIf="(registerForm.get('passwordConfirm')?.hasError('passwordMismatch'))">
            Passwords do not match
          </p>
        </div>

        <div class="field">
          <label class="label">Phone</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="tel" placeholder="Phone input" formControlName="phone">
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
          <p class="help is-danger"
             *ngIf="((registerForm.get('phone')?.touched || formSubmitted) && registerForm.get('phone')?.hasError('required'))">
            Phone number is required
          </p>
          <p class="help is-danger" *ngIf="(registerForm.get('phone')?.hasError('minlength'))">
            Phone number must be at least 9 characters
          </p>
          <p class="help is-danger" *ngIf="(registerForm.get('phone')?.hasError('maxlength'))">
            Phone number must be at most 11 characters
          </p>
        </div>

        <div class="field">
          <label class="label">Profile Picture</label>
          <div class="file has-text-centered">
            <label class="control file-label">
              <input class="file-input" type="file" name="image" (change)="validImage($event)" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  {{ imagePreview ? 'Change image' : 'Choose an image…' }}
                </span>
              </span>
            </label>
          </div>
          <p class="help is-danger" *ngIf="registerForm.get('image')?.errors?.['invalidFileType']">
            Invalid file type. Only images are allowed.
          </p>
          <p class="help is-danger" *ngIf="registerForm.get('image')?.errors?.['invalidFileSize']">
            File size must be less than 2MB.
          </p>
          <div *ngIf="imagePreview" class="image-preview is-justify-content-center">
            <img [src]="imagePreview" alt="Image Preview" />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
