<div class="container">
  <h1 class="title">Order List</h1>
  <section
    *ngIf="orderList$ | async as orderList; else loaderAndError">
    <table class="table is-striped is-hoverable is-fullwidth" *ngIf="orderList.length > 0">
    <thead>
      <tr>
        <th>Request Date</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orderList">
        <app-order [order]="order" (changeOrderStatus)="changeOrderStatus($event)"/>
      </ng-container>
    </tbody>
  </table>
  </section>
  <ng-template #loaderAndError>
    <section *ngIf="hasError; else loader">
      <p>Something went wrong. Please try again later.</p>
    </section>
    <ng-template #loader>
      <div class="loader-wrapper">
        <div class="loader is-loading"></div>
      </div>
    </ng-template>
  </ng-template>

</div>
