<section
    *ngIf="orderList$ | async as orderList; else loaderAndError">
    <div class="container box is-scrollable" style="padding-bottom: 0.1rem">
      <div class="columns is-mobile has-text-weight-bold">
        <div class="column">Request Date</div>
        <div class="column">Delivery Date</div>
        <div class="column has-text-centered">Total Price</div>
        <div class="column has-text-centered">Status</div>
        <div class="column has-text-centered">Options</div>
      </div>
      <ng-container *ngFor="let order of orderList">
        <app-order [order]="order" (changeOrderStatus)="changeOrderStatus($event)" />
      </ng-container>
    </div>
  </section>
  <ng-template #loaderAndError>
    <section *ngIf="hasError; else loader">
      <p>Something went wrong. Please try again later.</p>
    </section>
    <ng-template #loader>
      <div class="loader-wrapper">
        <div class="loader is-loading"></div>
      </div>
    </ng-template>
  </ng-template>
