<div class="container px-2 mb-4">
  <h2 class="title">Supplies List</h2>
  <button class="button is-primary mb-3" (click)="openModal(false)">Create Supply</button>

  <div class="notification is-primary" [ngClass]="{'is-hidden': !showNotification}">
    <button class="delete" (click)="deleteNotification()"></button>
    Supply <span class="title is-6">{{supplyName}}</span> {{isEditMode ? 'updated' : 'created'}} successfully
  </div>

  <form (submit)="loadSupplies()" class="my-4 is-flex-mobile">
    <div class="field has-addons">
      <div class="control">
        <input type="text" name="searchField" [formControl]="searchTerm" placeholder="Search by name" class="input">
      </div>
      <div class="control">
        <button class="button is-link">
          Search
        </button>
      </div>
    </div>
  </form>
  <div class="box">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let supply of supplies">
        <td>{{ supply.name }}</td>
        <td>{{ supply.unit }}</td>
        <td>{{ supply.price | currency }}</td>
        <td class="is-flex is-gap-1 is-flex-wrap-wrap">
          <button class="button is-small is-primary actionButton" (click)="openModal(true, supply)">Edit</button>
          <button class="button is-small is-danger actionButton" (click)="deleteSupply(supply.id!)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <li *ngFor="let page of [].constructor(totalPages); let i = index">
        <a class="pagination-link"
           [class.is-current]="currentPage === i + 1"
           (click)="onPageChange(i + 1)"
           [attr.aria-label]="'Goto page ' + (i + 1)">
          {{i + 1}}
        </a>
      </li>
    </ul>
  </nav>

  <app-supply-modal
    [isEditMode]="isEditMode"
    [isModalActive]="isModalActive"
    [supply]="selectedSupply"
    [isLoading]="isLoading"
    (closeModalEvent)="closeModal()"
    (submitFormEvent)="handleFormSubmit($event)"
  ></app-supply-modal>
</div>
