<div class="container">
  <div class="notification is-primary is-hidden">
    <button class="delete" (click)="deleteNotification($event)"></button>
    Product <span class="title is-6">{{productName}}</span> {{isEditMode ? 'updated' : 'created'}} successfully
  </div>
  <div class="column is-4 is-offset-4">
    <h2 class="title">{{isEditMode ? 'Edit' : 'Create'}} Product</h2>
    <div class="box">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label" for="nameProduct">Name</label>
          <div class="control">
            <input id="nameProduct" class="input" type="text" placeholder="Name input" formControlName="name">
          </div>
          <p class="help is-danger"
             *ngIf="(productForm.get('name')?.invalid && productForm.get('name')?.touched) || (formSubmitted && productForm.get('name')?.invalid)">
            This name is invalid
          </p>
        </div>

        <div class="field">
          <label class="label" for="priceProduct">Price</label>
          <div class="control">
            <input id="priceProduct" class="input" type="number" placeholder="Price Here" formControlName="price">
          </div>
          <p class="help is-danger"
             *ngIf="(productForm.get('price')?.invalid && productForm.get('price')?.touched) || (formSubmitted && productForm.get('price')?.invalid)">
            This price is invalid
          </p>
        </div>

        <div class="field">
          <label class="label" for="descProduct">Description</label>
          <div class="control">
            <textarea id="descProduct" class="textarea" placeholder="Textarea" formControlName="description"></textarea>
          </div>
          <p class="help is-danger"
             *ngIf="(productForm.get('description')?.invalid && productForm.get('description')?.touched) || (formSubmitted && productForm.get('description')?.invalid)">
            This description is invalid
          </p>
        </div>

        <div class="field">
          <label class="label">Product Image</label>
          <div class="file">
            <label class="control file-label">
              <input class="file-input" type="file" name="image" alt="Add Image to Product" (change)="validImage($event)" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">{{ fileLabel }}</span>
              </span>
            </label>
          </div>
          <p class="help is-danger" *ngIf="productForm.get('image')?.errors?.['required'] && formSubmitted">
            The image is required
          </p>
          <p class="help is-danger" *ngIf="productForm.get('image')?.errors?.['invalidFileType']">
            Invalid file type. Only images are allowed.
          </p>
          <p class="help is-danger" *ngIf="productForm.get('image')?.errors?.['invalidFileSize']">
            File size must be less than 2MB.
          </p>
        </div>

        <div class="field">
          <label class="label">Supplies</label>
          <div formArrayName="supplies">
            <div *ngFor="let supply of suppliesFormArray.controls; let i = index" [formGroupName]="i" class="box">
              <div class="field">
                <label class="label">Supply</label>
                <div class="control">
                  <div class="select">
                    <select formControlName="supplyId">
                      <option *ngFor="let supply of supplies" [value]="supply.id">{{ supply.name }}</option>
                    </select>
                  </div>
                </div>
                <p class="help is-danger" *ngIf="supply.get('supplyId')?.invalid && (supply.get('supplyId')?.touched || formSubmitted)">
                  Please select a valid supply
                </p>
              </div>
              <div class="field">
                <label class="label">Quantity</label>
                <div class="control">
                  <input class="input" type="number" placeholder="Quantity" formControlName="quantity">
                </div>
                <p class="help is-danger"
                   *ngIf="supply.get('quantity')?.invalid && (supply.get('quantity')?.touched || formSubmitted)">
                  This quantity is invalid
                </p>
              </div>
              <button type="button" class="button is-danger" (click)="removeSupply(i)">Remove</button>
            </div>
          </div>
          <button type="button" class="button is-primary mt-2" (click)="addSupply()">Add Supply</button>
        </div>

        <p class="help is-danger" *ngIf="hasDuplicateSupplies || productForm.get('supplies')?.errors?.['duplicateSupplies']">
          Duplicate supplies are not allowed.
        </p>

        <div class="field is-grouped mt-2">
          <div class="control">
            <button class="button is-link" [ngClass]="{'is-loading': isLoading}">{{isEditMode ? 'Update' : 'Create'}} Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
