<div *ngIf="product" class="card cell">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/assets/images/placeholders/1280x960.png" [alt]="product.name" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ product.name }}</p>
        <p class="subtitle is-6">{{ product.price | currency }}</p>
      </div>
    </div>

    <div class="grid-container">
      <div class="is-flex">
        <p class="control">
          <button class="button rounded-left-corners" (click)="decreaseQuantity()">-</button>
        </p>
        <p class="control">
          <input class="input no-rounded is-centered" type="number" [(ngModel)]="quantity" min="1" />
        </p>
        <p class="control">
          <button class="button rounded-right-corners" (click)="increaseQuantity()">+</button>
        </p>
      </div>

      <p class="control">
        <button class="button is-rounded" (click)="addToCart(product, quantity)">Add to cart</button>
      </p>
    </div>

    <div class="content">
      {{ product.description }}
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>