<div *ngIf="product" class="card cell">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/assets/images/placeholders/1280x960.png" [alt]="product.name" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ product.name }}</p>
        <p class="subtitle is-6">{{ product.price | currency }}</p>
      </div>
    </div>

    <div class="grid-container">
      <div class="field has-addons input-container">
        <p class="control">
          <a class="button is-rounded">
            <span class="icon is-small">
              <button class="button is-borderless is-small" (click)="decreaseQuantity()">-</button>
            </span>
          </a>
        </p>
        <p class="control">
          <a class="button is-rounded">
            <span class="icon is-small">
              <input class="input no-arrows is-small is-borderless" type="number" [(ngModel)]="quantity" min="1" />
            </span>
          </a>
        </p>
        <p class="control">
          <a class="button is-rounded">
            <span class="icon is-small">
              <button class="button is-small is-borderless" (click)="increaseQuantity()">+</button>
            </span>
          </a>
        </p>
      </div>
      <p class="control">
            <button class="button is-rounded" (click)="addToCart(product, quantity)">Add to cart</button>
      </p>
    </div>

    <div class="content">
      {{ product.description }}
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
