.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  gap: 10px;
}

.grid-container input {
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.no-rounded {
  border-radius: 0 !important;
}

.rounded-left-corners {
  border-radius: 25px 0 0 25px;
}

.rounded-right-corners {
  border-radius: 0 25px 25px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input.no-arrows {
  -webkit-appearance: none;
  /* Safari and Chrome */
  -moz-appearance: textfield;
  /* Firefox */
}