<section class="container fixed-grid has-4-cols" *ngIf="productList$ | async as productList; else loaderAndError">
  <h2 class="section-title">Products</h2>
  <div class="button-group">
    <a class="button" [routerLink]="['/products/new']">New product</a>
  </div>
  <div class="product-list grid">
    <app-product-card *ngFor="let product of productList" [product]="product" />
  </div>
</section>
<ng-template #loaderAndError>
  <section *ngIf="hasError; else loader">
    <p>Something went wrong. Please try again later.</p>
  </section>
  <ng-template #loader>
    <div class="loader-wrapper">
      <div class="loader is-loading"></div>
    </div>
  </ng-template>
</ng-template>