<div class="columns is-mobile has-text-weight-bold mb-5 vertical-center" (click)="toggleOrderDetails()">
  <div class="column">{{ order.requestDate | date:'short' }}</div>
  <div class="column">{{ order.deliveryDate | date:'short' }}</div>
  <div class="column has-text-centered">{{ order.totalPrice | currency }}</div>
  <div class="column has-text-centered">{{ order.status }}</div>
  <div *ngIf="options" class="column has-text-centered">
    <button class="button {{ userType === UserRole.USER ? 'is-danger' : '' }} {{ userType === UserRole.BAKER ? 'is-primary ' : '' }}"
            (click)="changeOrderStatusEvent(); $event.stopPropagation()"
            [disabled]="order.status !== 'WAITING'" style="width: 100px;">
      {{ textButton }}
    </button>

  </div>
</div>
<div *ngIf="visibleOrderDetails">
  <table class="table is-fullwidth">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price per Unit</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of order.products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    </tbody>
  </table>
</div>
