<div class="container">
  <h1 class="title">All Order List</h1>
  <section
    *ngIf="orderList$ | async as orderList; else loaderAndError">
    <div class="container box" style="margin-bottom: .1rem">
      <div class="columns is-mobile has-text-weight-bold">
        <div class="column">Request Date</div>
        <div class="column">Delivery Date</div>
        <div class="column">Total Price</div>
        <div class="column">Status</div>
      </div>
      <ng-container *ngFor="let order of orderList; let i = index">
        <div class="columns is-mobile has-text-weight-bold mb-5 border-bottom" (click)="toggleOrderDetails(i)">
          <div class="column">{{ order.requestDate | date:'short' }}</div>
          <div class="column">{{ order.deliveryDate | date:'short' }}</div>
          <div class="column">{{ order.totalPrice | currency }}</div>
          <div class="column">{{ order.status }}</div>

        </div>
        <div *ngIf="isOrderDetailsVisible(i)">
          <table class="table is-fullwidth">
            <thead>
            <tr>
              <th>Product Name</th>
              <th>Description</th>
              <th>Price per Unit</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of order.products">
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price | currency }}</td>
              <td>{{ product.quantity }}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </ng-container>
    </div>
  </section>
  <ng-template #loaderAndError>
    <section *ngIf="hasError; else loader">
      <p>Something went wrong. Please try again later.</p>
    </section>
    <ng-template #loader>
      <div class="loader-wrapper">
        <div class="loader is-loading"></div>
      </div>
    </ng-template>
  </ng-template>

</div>
