<div class="is-flex is-flex-wrap-wrap is-column-gap-2">
  <div class="select mb-4">
    <select (change)="onSort('sortRequestDate', $event)" [value]="filters.sortRequestDate">
      <option value="">Sort by Request Date</option>
      <option value="ascRequest">Old to New</option>
      <option value="descRequest">New to Old</option>
    </select>
  </div>
  <div class="select mb-4">
    <select (change)="onSort('sortDeliveryDate', $event)" [value]="filters.sortDeliveryDate">
      <option value="">Sort by Delivery Date</option>
      <option value="ascDelivery">Old to New</option>
      <option value="descDelivery">New to Old</option>
    </select>
  </div>
  <div class="select mb-4">
    <select (change)="onSort('sortPrice', $event)" [value]="filters.sortPrice">
      <option value="">Sort by Total Price</option>
      <option value="ascPrice">Low to High</option>
      <option value="descPrice">High to Low</option>
    </select>
  </div>
  <div>
    <div class="select mb-4">
      <select (change)="onSort('status', $event)" [value]="filters.status ?? ''">
        <option value="">Filter by State</option>
        <option value="waiting">Waiting</option>
        <option value="in_process">In Process</option>
        <option value="cancelled">Cancelled</option>
        <option value="completed">Completed</option>
      </select>
    </div>
  </div>
  <div class="select mb-4">
    <input
      type="text"
      style="padding-right: 36px;"
      class="input"
      mwlFlatpickr
      [(ngModel)]="rangeDateFilter"
      altFormat="F j, Y" dateFormat="m-d-Y"
      [convertModelValue]="true"
      placeholder="Select Range Delivery"
      mode="range"
      (ngModelChange)="onSort('rangeDate', {target: {value: {to: this.rangeDateFilter.to, from: this.rangeDateFilter.from}}})"
    >
  </div>
  <div (click)="clearFilter()">
    <button class="button">Clear</button>
  </div>
</div>
<div class="mb-4">
  <button class="button" (click)="toggleModal(true)">View all supplies</button>
</div>
<section *ngIf="orderList$ | async as orderList; else loaderAndError">
  <ng-container *ngIf="orderList.orders.length > 0; else emptyState">
    <div class="container box is-scrollable" style="padding-bottom: .1rem">
      <div class="columns is-mobile has-text-weight-bold">
        <div class="column">Request Date</div>
        <div class="column">Delivery Date</div>
        <div class="column has-text-centered">Total Price</div>
        <div class="column has-text-centered">Status</div>
      </div>
      <ng-container *ngFor="let order of orderList.orders">
        <app-order [order]="order" [options]="false"></app-order>
      </ng-container>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <a class="pagination-link"
             [class.is-current]="currentPage === i + 1"
             (click)="onPageChange(i + 1)"
             [attr.aria-label]="'Goto page ' + (i + 1)">
            {{i + 1}}
          </a>
        </li>
      </ul>
    </nav>
  </ng-container>
  <ng-template #emptyState>
    <div class="empty-state has-text-centered">
      <i class="fas fa-list-alt" style="font-size: 2rem; color: #b0b0b0;"></i>
      <p>It looks like you don't have any orders yet</p>
    </div>
  </ng-template>
</section>
<ng-template #loaderAndError>
  <section *ngIf="hasError; else loader">
    <p>Something went wrong. Please try again later.</p>
  </section>
  <ng-template #loader>
    <div class="loader-wrapper">
      <div class="loader is-loading"></div>
    </div>
  </ng-template>
</ng-template>

<app-supplies-list-modal
  [isModalActive]="isModalActive"
  (closeModalEvent)="toggleModal(false)"
  [supplies]="supplies"
/>
