<div class="modal" [ngClass]="{'is-active': isModalActive}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Forgot Your Password?</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="forgotPass" (ngSubmit)="forgot()">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email input" formControlName="email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger"
             *ngIf="((forgotPass.get('email')?.touched || formSubmitted) && forgotPass.get('email')?.hasError('required'))">
            Email is required
          </p>
          <p class="help is-danger" *ngIf="(forgotPass.get('email')?.hasError('email'))">
            Email entered is invalid
          </p>
        </div>
        <div class="field pt-3">
          <div class="control">
            <button class="button is-primary">Reset Password</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
